@font-face {
    font-family: "Aleo";
    src: url("../fonts/aleo-regular-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aleo";
    src: url("../fonts/aleo-bold-webfont.ttf");
    font-weight: bold;
    font-style: normal;
}

button {
    padding: 8px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    cursor: default;
    background-image: none;
    background-color: lightgray;
}

button:focus {
    outline: 0;
}

#action-bar, button {
    background-image: linear-gradient(-45deg, black, #444);
}

* {
    box-sizing: border-box;
    overflow: hidden;
    font-family: Aleo, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: "top" "middle" "bottom";
    position: relative;
    padding: 16px;
}

#flashcard-form-container {
    grid-area: top;
    display: flex;
    justify-content: center;
}

#quiz-header {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flashcard-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flashcard-form > * {
    margin: 8px 0;
}

#flashcard-form > *:last-child {
    margin: 0;
}

input {
    display: block;
}

textarea {
    display: block;
    width: 400px;
    height: 200px;
}

#flashcards-container, #choices-container {
    grid-area: middle;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 8px 0;
    padding: 0 16px;
}

#flashcards-container::-webkit-scrollbar, #choices-container::-webkit-scrollbar {
    display: none;
}

#flashcards-container > *, #choices-container > * {
    flex-shrink: 0;
}

.flashcard, .quiz-definition {
    margin: 16px 0;
    padding: 12px 16px;
    box-shadow: 1px 1px 20px 1px #EEE;
    border-radius: 8px;
    max-width: fit-content;
}

.flashcard {
    display: grid;
    grid-template-areas: "concept . delete" "definition definition definition";
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content 1fr max-content;
}

.flashcard-concept {
    grid-area: concept;
    font-weight: bold;
    font-size: 24px;
}

.flashcard-definition {
    grid-area: definition;
}

.flashcard-delete {
    grid-area: delete;
    cursor: pointer;
}


.quiz-definition {
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.quiz-definition:hover {
    transform: scale(1.1);
}

#action-bar-container {
    grid-area: bottom;
    display: flex;
    justify-content: center;
}

#action-bar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}

#action-bar > * {
    color: white;
    margin: 0 16px;
    padding: 16px 0;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex-grow: 1;
}


#quiz-complete-dialog, #fatal-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

#quiz-complete-dialog > * {
    margin: 16px 0;
}